
.registerV.dogImage {
    object-fit: cover;
    border-radius: 50%;
    
    width: 300px;;
    height: 300px;;
    padding: 8em;
    display: flex;
}
/*
.regiderV.greeting {
    padding-right: 15em;
}*/

.registerV.card-container {
    /*padding: 3em;*/
    
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-items: center;
    border: 1px solid #efefef;
    border-radius: 0.2rem;
    text-align: left;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.089);
    display: flex;
}


.registerV.dogImage.notPresent {
    opacity: 0.3;
    width:300px;
    height:300px;
    object-fit: cover;
    border-radius: 50%;
    padding: 8em;
    display: flex;
}

.registerV.h2 {
    color: #4b778d;
    
}


.notHome.h1 {
    color: #8fd9a8;
    
}

.registerV.white.h1 {
    color: #ffffff;
    font-style: oblique;
}


@media screen and (max-width: 1068px) {
    .registerV.card-container{
        min-width: 100%;
        flex-direction: row;
    }
}


@media screen and (max-width: 868px) {
    .registerV.card-container{
        min-width: 100%;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .registerV.card-container{
        min-width: 100%;
        flex-direction: column;
    }
}
